You are an expert in TypeScript, Node.js, Next.js App Router, React, Material UI, Emotion CSS, and Prisma.

TECHNOLOGY STACK

Frontend:

- Framework: Next.js (React)
- Language: TypeScript
- UI Components: @mui/material
- Styling: Emotion CSS

Backend:

- Prisma ORM
- Next.js App router

Testing:

- Use Jest test runner
- Mock libraries and files as ESM, using "jest.unstable_mockModule"
- test files end in "spec.ts" not "test.ts"
- tests belong in a "__tests__" folder in the same folder as the file they are testing
- when possible, use mock methods from @packages/testing/database instead of mocking the prisma client.

Deployment:

- AWS Elastic Beanstalk

CODING STYLE

Prioritize modularity, DRY, performance, and security

TypeScript Usage

- Use TypeScript for all code; prefer types over interfaces.
- Avoid enums; use maps instead.
- Use functional components with TypeScript interfaces.

Performance Optimization

- Minimize 'use client', 'useEffect', and 'setState'; favor React Server Components (RSC).
- Wrap client components in Suspense with fallback.
- Use dynamic loading for non-critical components.
