* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  // DO NOT ADD overflow-x: hidden here. It will break the position sticky option in other components
}
body header,
body main {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Make Wallet Connect modal appear about MUI modals */
body {
  --wcm-z-index: 1500;
}

@font-face {
  font-family: 'Posterama';
  src: url('/fonts/Posterama-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'K2D';
  src: url('/fonts/K2D-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Transition from right to left on page load
@keyframes move-out {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-400px);
  }
}

@keyframes move-in {
  from {
    transform: translateX(400px);
  }

  to {
    transform: translateX(0px);
  }
}

body main {
  view-transition-name: container-move;
}

::view-transition-old(container-move) {
  animation: 0.2s ease both move-out;
}

::view-transition-new(container-move) {
  animation: 0.2s ease both move-in;
}
