# Do not put any env var or secrets used by the app here. Put in .env.ebstalk
# This file should only have
# - env variables referenced in docker-compose file
# - variables needed for the .platform/hooks/predeploy/01_pull_secrets.sh script to run

option_settings:
    aws:elasticbeanstalk:application:environment:
        COMPOSE_PROJECT_NAME: "prd"
        COMPOSE_PROFILES: "prd-scoutgame-airdrop"
        SERVICE_ENV: "prd" # this sets the value of datadog env tag
        SERVICE_NAME: "scoutgame-airdrop"
        IMGNAME: "scoutgame-airdrop"
        IMGTAG: ""
